body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#layer0 {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px solid #dddddd;
}